{% extends "__index.html" %}

{% block title %} Load category {{category_name}} from eBay.com {% endblock %}

{% block content %}

<h1>Load category {{category_name}} from eBay.com</h1>
  <progress max="{{ all_items }}" value="{{ loaded_items }}"/>
    Загружено на <span id="value">{{ loaded_items }}</span>
    
{% endblock %}

{% block sidenav %}
			<h2>Categories</h2>
				<ul>
				{% for cat in categories %}
				    <li> <a href="/ebay_parse/{{cat.ebay_category_id}}">{{ cat.ebay_category_name }}</a></li>
				{% endfor %}
				</ul>			
{% endblock %}