{% extends "__index.html" %}
{% load i18n %}

{% block title %} {% trans "Species for category" %}{{category.category_name}}{% endblock %}

{% block content %}
<a href="/species/">root </a> &raquo; <a href="/species/category/{{category.ebay_category_id}}">{{category.ebay_category_name}}</a>

<h1>{% blocktrans %} Species for category {{category.ebay_category_name}}{% endblocktrans %}</h1>
  <h2>Detailed genus information </h2>
  <ul>
	  {% for item in species %}
	  	<li><a href="/species/genus/{{item.species_first_name}}"> {{item.species_first_name}}  ( {{item.dcount}} )  &raquo; </a></li>
      {% endfor %}
  </ul>
{% endblock %}

{% block sidenav %}
{% load mptt_tags %}
				<h2>Categories</h2>
				<ul class="root">
				    {% recursetree nodes %}
				        <li>
				        <a href="/species/category/{{node.ebay_category_id}}/">
				            {{ node.space }} {{ node.ebay_category_name }}
				        </a>
			            {% if not node.is_leaf_node %}
			                <ul class="children">
			                   {{ children }}
			                </ul>
			            {% endif %}
	               {% endrecursetree %}
				</ul>			
{% endblock %}