{% extends "__index.html" %}
{% load i18n %}

{% block title %} {% trans "Species for category" %}{{category.category_name}}{% endblock %}

{% block content %}

<h1>{% blocktrans %} Species for category {{category.category_name}}{% endblocktrans %}</h1>
  <h2>Detailed information for item</h2>
  <ul>
	  {% for item in species %}
	  	<li>
	        <a href= "/species/{{item.id}}" >{{item.species_name}}</a>
	    </li>
      {% endfor %}
  </ul>  
{% endblock %}

{% block sidenav %}
{% load mptt_tags %}
				<h2>Categories</h2>
				<ul class="root">
				    {% recursetree nodes %}
				        <li>
				        <a href="/species/category/{{node.ebay_category_id}}/">
				            {{ node.space }} {{ node.ebay_category_name }}
				        </a>
			            {% if not node.is_leaf_node %}
			                <ul class="children">
			                   {{ children }}
			                </ul>
			            {% endif %}
	               {% endrecursetree %}
				</ul>			
{% endblock %}