{% extends "__index.html" %}
{% load i18n %}

{% block title %} {% trans "Species for category" %}{{category.category_name}}{% endblock %}

{% block head %}

<style type="text/css">
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 10px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  background: #F7F7F2;
  margin: 10px;
}
.table_dark th {
  color: black;
  border-bottom: 1px solid #37B5A5;
  padding: 12px 17px;
}
.table_dark td {
  color: black;
  border-bottom: 1px solid #37B5A5;
  border-right:1px solid #37B5A5;
  padding: 7px 17px;
}
.table_dark tr:last-child td {
  border-bottom: none;
}
.table_dark td:last-child {
  border-right: none;
}
.table_dark tr:hover td {
  text-decoration: underline;
}

/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	max-width: 800px;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
.tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}
.tabs>label[for*="1"]:before {
	content: "\f19a";
}
.tabs>label[for*="2"]:before {
	content: "\f17a";
}
.tabs>label[for*="3"]:before {
	content: "\f13b";
}
.tabs>label[for*="4"]:before {
	content: "\f13c";
}

/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid #009933;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
 
@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}

</style>
{% endblock %}

{% block content %}
<a href="/species/">root </a> &raquo; 
<a href="/species/category/{{category.ebay_category_id}}">{{category.ebay_category_name}}</a>&raquo;
<a href="/species/genus/{{genus}}">{{genus}}</a> 
<h1>{% blocktrans %} Species for genus {{genus}}{% endblocktrans %}</h1>

<div class="tabs">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Species">Species</label>
 
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Species">Common statistic</label>

  <section id="content-tab1">
        <p>
  <h2>Species:</h2>
<table class='table_dark'>
  {% for item in species %}
  		<tr> <td width=150>
            <a href="/species/{{item.id}}"><img src="/media/{{item.species_photo}}" alt="{{item.species_name}}" width=140/></a>
        </td>
        <td>
            <a href="/species/{{item.id}}">{{item.species_name}} &raquo;</a>
        </td>
    </tr>	  
      {% endfor %}
  </table>
  </p>
  </section>


<section id="content-tab2">
        <p>    
  <h2>Common statistic:</h2>
  <table class='table_dark'>
  	<tr>
  		<th>{% trans Species %}</th><th>{% trans "Avg priсe" %}</th><th>{%trans "Lots count" %}</th>
  	</tr>
	  {% for s in stat %}
  	<tr>
  		<td>{{s.species_first_name}} {{s.species_last_name}}</td><td>{{s.avg}} $</td><td>{{s.lots_count}}</td>
  	</tr>
      {% endfor %}  
  </table>
  </p>
</section>
  
</div>  
{% endblock %}

{% block sidenav %}
{% load mptt_tags %}
				<h2>Categories</h2>
				<ul class="root">
				    {% recursetree nodes %}
				        <li>
				        <a href="/species/category/{{node.ebay_category_id}}/">
				            {{ node.space }} {{ node.ebay_category_name }}
				        </a>
			            {% if not node.is_leaf_node %}
			                <ul class="children">
			                   {{ children }}
			                </ul>
			            {% endif %}
	               {% endrecursetree %}
				</ul>			
{% endblock %}