{% extends "__index.html" %}
{% load mptt_tags %}
{% load i18n %}

{% block title %} Species {% endblock %}

{% block content %}
<a href="/species/">root </a> &raquo; 
<a href="/species/category/{{category.ebay_category_id}}">{{category.ebay_category_name}}</a>&raquo;
<a href="/species/genus/{{info.species_first_name}}">{{info.species_first_name}}</a> &raquo; 
<a href="/species/{{info.id}}">{{info.species_name}}</a>

<h1>{{info.species_name}}</h1>
<table>
  <tr>
    <td><img src="/media/{{info.species_photo}}" width='300'/></td>
    <td>
    	<h2>{% trans "Common properties" %}</h2>
    	{{info.species_first_name}}<br>
		{{info.species_last_name}}<br>  
		Category: {{info.ebay_category_name}} 
		<h2> {% trans "Price" %} </h2>
		
		<ul>
			<li>Avg price: {{info.avg}}</li>
			<li>Min price: {{info.min}}</li>
			<li>Max price: {{info.max}}</li>
		</ul> 
		<h2>Count of items</h2>
		Count: {{info.count}}
    </td>
  </tr>
</table>

<h2>eBayItems</h2>
<table>
	{% for item in items %}
	<tr>
		<td><img alt="{{item.ebay_item_title}}" src="/media/{{item.ebay_gallery_icon}}" width="{{item.ebay_gallery_icon.width}}" height="{{item.ebay_gallery_icon.height}}"></td>
    	<td>
    		<a href="{{item.ebay_item_url}}" target="_blank">{{item.ebay_item_title}}</a><br>
    		{{item.ebay_item_price}} $
    	
    	</td>
    </tr>
	{%  endfor %}
</table>
{% endblock %}

{% block sidenav %}
				<h2>Categories</h2>
				<ul class="root">
				    {% recursetree nodes %}
				        <li>
				        <a href="/species/category/{{node.ebay_category_id}}/">
				            {{ node.space }} {{ node.ebay_category_name }}
				        </a>
			            {% if not node.is_leaf_node %}
			                <ul class="children">
			                   {{ children }}
			                </ul>
			            {% endif %}
	               {% endrecursetree %}
				</ul>		
{% endblock %}