{% extends "__index.html" %}
{% load mptt_tags %}

{% block title %} Load eBay items from ebay.com {% endblock %}

{% block head %} 
<style>
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.authcontainer {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
</style>
{% endblock head %}

{% block content %}

<h1>Load eBay items from ebay.com</h1>
    <p>You can load item from <a href="https://www.ebay.com/sch/-/3215/i.html">eBay.com</a> into my database. The fossils is very intereced for me ^)</p>
    <p>You can <a href="/load/{{category.ebay_category_id}}"> load {{ category.ebay_category_name }} </a>. This data will been use for analitycs.</p>
<h1>Work with undefined lots</h1>
<ul>
<li> Genus: {{genus}}</li>
<li> Species: {{species}}
</ul>
<br/>
<hr/>

<table>
  {% for item in items %}
  <tr id="{{item.ebay_item_id}}">
  <td>
  <img alt="{{item.ebay_item_title}}" src="/media/{{item.ebay_gallery_icon}}" width="{{item.ebay_gallery_icon.width}}" height="{{item.ebay_gallery_icon.height}}">
  </td><td>
	  <span>
	        {{item.ebay_item_title}}
	  </span>
	</td>
	<td>
	        <!-- {{item.ebay_item_description}}  --> 	
	</td>
  </tr>  
  {% endfor %}
</table>    
{% endblock %}

{% block sidenav %}
				<h2>Categories</h2>
				<ul class="root">
				    {% recursetree nodes %}
				        <li>
				        <a href="/ebay_parse/{{node.ebay_category_id}}/">
				            {{ node.space }} {{ node.ebay_category_name }}
				        </a>
			            {% if not node.is_leaf_node %}
			                <ul class="children">
			                   {{ children }}
			                </ul>
			            {% endif %}
	               {% endrecursetree %}
				</ul>		
{% endblock %}

